
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.nav-title{
    font-weight: 800;
    font-size: 30px;
    color: #4E47FF;

}
nav ul li{
    list-style: none;
}
.banner{
    align-items: center;
    padding-left: 50px;
}
.header{
    background-image: url('./B12A01-landing-launchpad/Assets/Hero-bg.png');
    background-repeat: no-repeat;
}